@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
}
a{
    display: inline;
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2,fr);
}
header .header-icons-container{
    display: grid;
    width: 100%;
    height: 50px;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    display: flex;
    /* justify-items: flex-end; */
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    width: 300px; 
    height: auto;
}
header .icons span{
    color: white;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
}

/* BODY CONTAINER */
/* .body-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    background-image: url('/assets/img/bg-content.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
.body-container .title{
    align-self: center;
    font-size: 40px;
    line-height: 1.3;
    color: white;
}
.body-container .title span{
    display: block;
}
.body-container .button{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: black;
    background-color: #47cfac;
} */

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    background-image: url('/assets/img/bg-content.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.home-main-text{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}
.home-main-button{
    width: 110px;
    height: 50px;
    background-color: #47cfac;
    display: grid;
    align-items: center;
}
.home-main-button a{
    font-weight: 700;
    font-size: 18px;
}