*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: inline;
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2,fr);
}
header .header-icons-container{
    display: grid;
    width: 100%;
    height: 50px;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    display: flex;
    /* justify-items: flex-end; */
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    width: 300px; 
    height: auto;
}
header .icons span{
    color: white;
}